<div class="members">
  <div class="member">
    <img src="https://scontent.fbru2-1.fna.fbcdn.net/v/t39.30808-6/316115607_2411755018988349_5361159461639973970_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=zM46a-5KoocAX_ehttL&_nc_ht=scontent.fbru2-1.fna&oh=00_AfB_ekmAww5JMHwD1y8N9O-D7l6yzZmLyctVwopqhhN2AQ&oe=63AAB53F"/>
    <span class="name">Bouhmadi Shaïma</span>
    <span class="desc">Développeuse pour Plan-It. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo. Aliquet lectus proin nibh nisl condimentum id. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Gravida arcu ac tortor dignissim convallis aenean. Vel turpis nunc eget lorem dolor</span>
  </div>
  <div class="member">
    <img src="https://scontent.fbru2-1.fna.fbcdn.net/v/t39.30808-6/282148215_3198782473727369_5133772667877517373_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=xFkNG8G2kjsAX_E0R91&_nc_oc=AQlSq0scA8buRvgSemmRqH8aSYbysuqhOX8pg1k35CTUZ0lwr7IATz39Tug-wtbR2GI&_nc_ht=scontent.fbru2-1.fna&oh=00_AfBjah_9UcSL81FkPpBgRbiKONTLuGEJT8EaeldxY6NARw&oe=63AA29DF"/>
    <span class="name">Da Nazaret Nicolas</span>
    <span class="desc">Développeur pour Plan-It. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo. Aliquet lectus proin nibh nisl condimentum id. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Gravida arcu ac tortor dignissim convallis aenean. Vel turpis nunc eget lorem dolor</span>
  </div>
  <div class="member">
    <img src="https://scontent.fbru2-1.fna.fbcdn.net/v/t1.15752-9/321296647_524082899659863_5769195601021663401_n.png?_nc_cat=111&ccb=1-7&_nc_sid=ae9488&_nc_ohc=1R_RM4UREbUAX-zuBRl&_nc_ht=scontent.fbru2-1.fna&oh=03_AdTmjuqKTzT6sEC3I7f27DU4QX0L9MHg-mFXdu2Jtir5rg&oe=63CD98B9"/>
    <span class="name">Fouret Jason</span>
    <span class="desc">Développeur pour Plan-It. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed odio morbi quis commodo. Aliquet lectus proin nibh nisl condimentum id. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Gravida arcu ac tortor dignissim convallis aenean. Vel turpis nunc eget lorem dolor</span>
  </div>
</div>
